<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio - Vitor Augusto Leite{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Portfolio - Vitor Augusto Leite</h1>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'projects' %}">Projects</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Vitor Augusto Leite. All rights reserved.</p>
    </footer>
</body>
</html>