{% extends 'base.html' %}
{% block title %}Projects - Vitor Augusto Leite{% endblock %}
{% block content %}
    <section>
        <h2>Projects</h2>
        {% for key, project in Projects.items %}
            <h3>{{ project.Name }}</h3>
            <p>{{ project.Description }}</p>
            <ul>
            {% for tech in project.Technologies %}
                <li>{{ tech }}</li>
            {% endfor %}
            </ul>
            <a href="{{ project.Link }}">View on GitHub</a>
        {% endfor %}
    </section>
    <section>
    <h2>Contact</h2>
    <ul>
    {% for key, value in Profile.Contact.items %}
    {% if value %}
        {% if key == "LinkedIn" %}
            <li><strong>{{ key }}:</strong> <a href="{{ value }}">My LinkedIn</a></li>
        {% else %}
            <li><strong>{{ key }}:</strong> {{ value }}</li>
        {% endif %}
    {% endif %}
    {% endfor %}
    </ul>
</section>
{% endblock %}